*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); 
}

body{
    font-family: "inter";
}