.form{
    background: var(--forth-color);
    width: 550px;
    margin-top: 100px;
    padding: .9375rem;
    border-radius: .4375rem;

    .heading{
        margin-bottom: 25px;
    }
    
    .input_box{
        font-size: .875rem;
        padding: 7px;
        background: var(--ternory-color);
        border-radius: .4375rem;
        transition: all ease 0.5s;
        padding-bottom: 0;
        margin-top: 1.25rem;
        position: relative;
        & span{
            position: absolute;
            top: .4375rem;
            left: .9375rem;
            pointer-events: none;
        }
        & input{
            width: 100%;
            padding: 12px;
            padding-top: 1.875rem;
        }
    }
    .select_box{
        flex-direction: column;
        font-size: .875rem;
        margin: .9375rem 0;
        background: var(--ternory-color);
        padding: .9375rem;
        & select{
            padding: 10px 0;
            padding-top: 15px;
            border-radius: .4375rem;
            cursor: pointer;
            width: 100%;
            border: none;
            background: transparent;
            outline: none;
        }
    }

    .submit_btn{
        background: var(--secondary-color);
        color: var(--forth-color);
        width: 100%;
        padding: 15px;
        margin-top: 25px;
        font-size: 1rem;
        border-radius: .4375rem;
        font-weight: 700;
    }
    
    .input_box:has(input:focus){
        background-color: #f5f3f3;
    }
}